<footer class='footer footer-center bg-base-300 text-base-content p-4 mt-4'>
  <aside>
    <p>
      Copyright © {new Date().getFullYear()} | Created by <a
        class='link link-success link-hover'
        href='https://github.com/burak-yildirim'>Burak Yildirim</a
      > | Licensed under <a
        class='link link-success link-hover'
        href='https://github.com/burak-yildirim/powercooks/blob/main/LICENSE'
        >MIT License</a
      >
    </p>
  </aside>
</footer>
