---
import Navbar from '../components/Navbar.astro';
import Footer from '../components/Footer.astro';
---

<!doctype html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <link rel='icon' type='image/x-icon' href='/favicon.ico' />
    <meta name='generator' content={Astro.generator} />
    <title>Power Cooks Recipe Site</title>
  </head>
  <body>
    <Navbar />
    <div class='flex flex-row'>
      <div class='flex-initial w-1/4'></div>
      <div class='grow'>
        <slot />
      </div>
      <div class='flex-initial w-1/4'></div>
    </div>

    <Footer />
  </body>
</html>
